<ion-content [fullscreen]="true" class="landing-bg">
  
  <div class="container ion-text-center">
    
    <h1 class="main-title">HealthTrack</h1>

    <div class="logo-wrapper">
      <ion-icon name="heart-outline" class="heart-icon"></ion-icon>
      <ion-icon name="add" class="plus-icon"></ion-icon>
    </div>

    <div class="buttons-wrapper">
      <ion-button expand="block" class="btn-login" routerLink="/tabs/tab1">
        Login
      </ion-button>

      <ion-button expand="block" class="btn-register" routerLink="/register">
        Registar
      </ion-button>
    </div>

  </div>

</ion-content>