<ion-content [fullscreen]="true">
  <div class="landing-container">
    
    <div class="logo-section">
      <h1 class="app-title">HealthTrack</h1>
      
      <div class="logo-box">
        <ion-icon name="heart-outline" class="heart-icon"></ion-icon>
        <ion-icon name="add" class="plus-icon"></ion-icon>
      </div>
    </div>

    <div class="actions-section">
      
      <ion-button expand="block" fill="outline" class="btn-login" routerLink="/login">
        Login
      </ion-button>

      <ion-button expand="block" class="btn-register" routerLink="/register">
        Registar
      </ion-button>
      
    </div>

  </div>
</ion-content>