ion-content {
  --background: #f4f5f8; 
}

.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaça o logo dos botões */
  padding: 60px 30px 50px 30px;
  text-align: center;
}

/* --- LOGO --- */
.logo-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-title {
    font-size: 32px;
    font-weight: 700;
    color: #00c853; /* Verde HealthTrack */
    margin-bottom: 30px;
    letter-spacing: 0.5px;
  }

  .logo-box {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Coração */
    .heart-icon {
      font-size: 140px;
      color: #00c853;
      stroke-width: 2px;
    }

    /* Cruz no meio */
    .plus-icon {
      position: absolute;
      font-size: 50px;
      color: #00c853;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%); 
      font-weight: 900;
    }
  }
}

/* --- BOTÕES --- */
.actions-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  ion-button {
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    text-transform: none; 
    --border-radius: 25px; 
    --box-shadow: none;
  }

  /* Estilo Login (Outline) */
  .btn-login {
    --color: #00c853;
    --border-color: #00c853;
    --border-width: 2px;
    --background: transparent;
    --background-activated: rgba(0, 200, 83, 0.1);
  }

  /* Estilo Registar (Solid) */
  .btn-register {
    --background: #00c853;
    --background-activated: #009624;
    --color: #ffffff;
  }
}